<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />

    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>

<body>
{% block header %}
{% endblock %}
{% block myModal %}
{% endblock %}
{% block movies_nav %}
{% endblock %}
{% block slidey %}
{% endblock %}
{% block js1 %}
{% endblock %}
{% block banner-bottom %}
{% endblock %}
{% block content %}
{% endblock %}
{% block general_social_icons %}
{% endblock %}
{% block footer %}
{% endblock %}
{% block js2 %}
{% endblock %}
</body>
</html>